<div class="flex flex-col h-full min-h-screen">
  <header class="sticky top-0 z-30 flex h-14 w-full justify-center items-center
  bg-base-300 text-base-content shadow-xl">
    <nav class="navbar w-full">
      <div class="flex flex-1 md:gap-1 lg:gap-2">
        <div class=" btn btn-ghost px-2">
          <div class="text-base-content inline-flex text-center text-lg transition-all duration-200">VNC Client</div>
        </div>
      </div>
      <div class="flex-none">
        <div class="dropdown dropdown-end mx-3">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <span class="w-10 rounded-full">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/149/149071.png?w=826&t=st=1684761833~exp=1684762433~hmac=ab615933a6749e5fb4871c74d532cf0c37e1b094fd70d046316dba0355ec5d87"
                    alt="image"/>
                </span>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-200 rounded-box w-52">
            <ng-container>
              <li>
                <a class="justify-between">
                  Профиль
                  <span class="badge">New</span>
                </a>
              </li>
              <li><a (click)="logout()">Выйти</a></li>
            </ng-container>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="mb-auto">
    @if (vncData$ | async; as vnc) {
      @switch (vnc.appState) {
        @case ('APP_LOADING') {
          <div class="flex flex-wrap m-4 justify-center items-center">
            <div class="flex w-5/12 flex-col gap-4 m-2">
              <div class="flex items-center gap-4">
                <div class="skeleton h-16 w-16 shrink-0 rounded-full"></div>
                <div class="flex flex-col gap-4 w-full">
                  <div class="skeleton h-4 w-full"></div>
                  <div class="skeleton h-4 w-full"></div>
                </div>
              </div>
              <div class="skeleton h-32 w-full"></div>
            </div>
            <div class="flex w-5/12 flex-col gap-4 m-2">
              <div class="flex items-center gap-4">
                <div class="skeleton h-16 w-16 shrink-0 rounded-full"></div>
                <div class="flex flex-col gap-4 w-full">
                  <div class="skeleton h-4 w-full"></div>
                  <div class="skeleton h-4 w-full"></div>
                </div>
              </div>
              <div class="skeleton h-32 w-full"></div>
            </div>
            <div class="flex w-5/12 flex-col gap-4 m-2">
              <div class="flex items-center gap-4">
                <div class="skeleton h-16 w-16 shrink-0 rounded-full"></div>
                <div class="flex flex-col gap-4 w-full">
                  <div class="skeleton h-4 w-full"></div>
                  <div class="skeleton h-4 w-full"></div>
                </div>
              </div>
              <div class="skeleton h-32 w-full"></div>
            </div>
            <div class="flex w-5/12 flex-col gap-4 m-2">
              <div class="flex items-center gap-4">
                <div class="skeleton h-16 w-16 shrink-0 rounded-full"></div>
                <div class="flex flex-col gap-4 w-full">
                  <div class="skeleton h-4 w-full"></div>
                  <div class="skeleton h-4 w-full"></div>
                </div>
              </div>
              <div class="skeleton h-32 w-full"></div>
            </div>
          </div>
        }
        @case ('APP_LOADED') {
          <div class="flex flex-wrap m-4 justify-center items-center">
            <app-card-vnc class="m-2 w-5/12"
                          *ngFor="let data of vnc.appData; let i = index"
                          [id]="data.id"
                          [ipAddressAndPort]="data.ipAddressAndPort"
                          [index]="i + 1"
            >
            </app-card-vnc>
          </div>
        }
      }
    }
  </main>
</div>

